.body{ 
    background-color: #FFFCEE;
    font-family: 'Rubik';
}
a:link{
    text-decoration: none;
}
.input {
    border:none;
    border-bottom: 1px solid black;
    padding: 5px 0px 5px 0px;
    margin: 20px 0px 0px 0px;
    width: 100%;
    outline: none;
    background-color: transparent;
    font-size: 20px;
 }
[placeholder]:focus::-webkit-input-placeholder {
    text-indent: -120%;
    opacity: 1;
}
form{
    font-size: 20px;
    margin-top: 30px;
}
.btn-next{
    background-color: #75CC75 !important;
    padding: 3px 40px 3px 40px  !important;
    font-size: 20px !important;
}
.btn1{
    margin-top: 60px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.content1{
    background-color: #FFFFFF; 
    box-shadow: 0 0 5px 3px gray;
    width: 540px !important; 
    height: 473.2px !important;
    padding: 50px 50px 50px 50px !important; 
}

.input-verify-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
}
.input-verify-box input[type="text"] {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

@media only screen and (max-width:500px){

    .btn-next{
        background-color: #75CC75 !important;
        padding: 5px 20px 5px 20px  !important;
        font-size: 20px !important;
        margin-top: 10px;
        font-size: medium !important;
    }
    .btn1{
        margin-top: 10px;
    }
    .content1{
        padding: 30px!important; 
        width: 440px !important; 
        height: 373.2px !important;
    }
    .input-verify-box input[type="text"] {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
    }
    
}@media only screen and (max-width:350px){

    .btn-next{
        background-color: #75CC75 !important;
        padding: 3px 20px 3px 20px  !important;
        font-size: 20px !important;
        margin-top: 10px;
        font-size: medium !important;
    }
    form{
        font-size: medium;
    }
    .input-verify-box input[type="text"] {
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
    }
    
}